<nav class="bg-dark fixed w-full z-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex items-center">
                <img src="/assets/images/fish.svg" alt="Dabblefish Logo" class="h-10 w-10 mr-3 object-contain">
                <div class="flex items-baseline">
                    <a href="{{ '/' | relative_url }}" class="text-light text-3xl font-bold">{{ site.title }}</a>
                    {% if page.section %}
                        {% if page.section == 'services / n8n' %}
                            <span class="text-light text-xl ml-2">/ <a href="/services" class="text-light">services</a> / n8n</span>
                        {% else %}
                            <span class="text-light text-xl ml-2">/ {{ page.section }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- Menu button -->
            <div class="flex items-center">
                <button type="button" class="menu-button text-light hover:text-white focus:outline-none" aria-label="Toggle menu">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
        <!-- Menu -->
        <div class="menu hidden">
            <div class="px-2 pt-2 pb-3 space-y-1 text-right">
                <a href="{{ '/services' | relative_url }}" class="block text-light hover:text-white text-lg flex items-center justify-end group">
                    <span class="mr-2">services</span>
                    {% include icon.html name="arrow" color="text-white opacity-0 group-hover:opacity-100 transition-opacity" %}
                </a>
                <a href="{{ '/projects' | relative_url }}" class="block text-light hover:text-white text-lg flex items-center justify-end group">
                    <span class="mr-2">projects</span>
                    {% include icon.html name="arrow" color="text-white opacity-0 group-hover:opacity-100 transition-opacity" %}
                </a>
                <a href="{{ '/posts' | relative_url }}" class="block text-light hover:text-white text-lg flex items-center justify-end group">
                    <span class="mr-2">posts</span>
                    {% include icon.html name="arrow" color="text-white opacity-0 group-hover:opacity-100 transition-opacity" %}
                </a>
            </div>
        </div>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const menuButton = document.querySelector('.menu-button');
    const menu = document.querySelector('.menu');
    
    menuButton.addEventListener('click', function() {
        menu.classList.toggle('hidden');
    });
});
</script> 